# Node modules
/node_modules

# Logs
*.log

# SQLite DBs
*.sqlite3

# Build products
/dist

# Jest coverage report
/coverage/*

# Dotenv env settings
.env

*storybook.log

# Ignore tailwinds.generated css
/output.css

# Ignore DS_Store Mac temp files
.DS_Store